    <div class="hero-unit">
        <h4>WELCOME, <%= @title %>!</h4>
    </div>

<div class="container main-content">
    <div class="row">
        <div class="span12">
            <h2>What up, <%= @name %>.</h2>
        </div>
    </div>

    <div class="row">
        <div class="span8 box">
            <p>Find me in app/views/home/index.html.erb</p>
        </div>
        <div class="span4 box">
            <%= @wat %>
        </div>

    </div>
</div>