<!DOCTYPE html>
<html>
<head>
  <title>TopFives</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script src="public/javascripts/jquery.pjax.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
